@import "tailwindcss";

/* Projects section */

.projects-container {
  height: 500svh;
  position: relative;
}

.projects-container > div {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100svh;
}

.horizontal-slider-group {
  display: flex;
}

.box {
  display: flex;
  width: 100svw;
  height: 100svh;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #9911ff;
  bottom: 50px;
  transform: scaleX(0);
}

/* Detalle de proyecto */

.project-description {
  @apply w-full max-w-[500px] border-2 border-orange-700 absolute z-10 left-0 self-end p-3 flex justify-center flex-col items-center;
  background: rgba(0, 0, 0, 0.9);
  transform: translate(-50px, 48px);
}

.description {
  @apply absolute left-12 top-12 w-full h-full z-10 transition-all;
}

.description-opened {
  @apply w-full h-full border-2 border-orange-700 bg-black flex flex-col items-center justify-between gap-3;
}

.description-closed {
  @apply w-full h-full relative border-b-2 border-r-2 border-orange-700;
}

.expand-button {
  @apply transform rotate-90 absolute top-0 right-0 border-l-2 border-orange-700 h-12 p-3;
  transform: translate(25px, -28px);
}
