@import "tailwindcss";

/* Projects section */

.projects-container {
  height: 500svh;
  position: relative;
}

.projects-container > div {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100svh;
}

.horizontal-slider-group {
  display: flex;
}

.box {
  display: flex;
  width: 100svw;
  height: 100svh;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #9911ff;
  bottom: 50px;
  transform: scaleX(0);
}

/* Detalle de proyecto */

.project-container {
  border: 2px solid var(--color-orange-700);
  box-shadow: 8px 8px 0px var(--color-orange-700);
}

.project-description {
  @apply w-full absolute lg:relative z-10 self-end p-3 flex justify-center flex-col items-center;
  background: #000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
